.top_blok { position: relative !important; }
.everything_else { padding-top:0px !important; }
.everything_else_notify { padding-top:0px !important; }
.up_basket { padding-bottom:12px !important; }
.chosen_products { width:100% !important;}
.group_by_prds { width:100% !important;}
.recomendations_products { width:100% !important;}
.randoms_tbl { margin-left:0px !important; width:560px !important; }
.divider { margin:0 0 0 0 !important;}
.products_list { width:100% !important; }
.page_flag_2 { width:100% !important; padding-top:0px !important; }
.comments { width:100% !important; }
.comments_txt { padding-left:170px !important; }
.product_add2list { clear:both; margin-left:0px !important; margin-top:-27px !important;}
.product_shop { margin-top:0px !important; }
.product_rate_full { width:100% !important; }
.product_price { margin-top:5px !important; }
.product_top_blok { width:100% !important; }
.product_top_right {  }
.product_cats_full { width:100% !important; }
.product_keywords { width:100% !important; }
.product_parameters { width:100% !important; }
.product_attrs { margin-top:0px !important; }
.production_code { margin-top:0px !important; }
.product_weight { margin-top:0px !important; }
.product_parameters p { margin-top:7px !important; }
.product_grp_nazv { width:100% !important; }
.product_listing_name_blok { margin-top:0px !important; }
.comments_blok { margin-top:0px !important; }
.product_img_list { width:100% !important; }
.product_img_blank { margin-bottom:-15px !important;}
.product_nazv_ontop { width:100% !important; }
.product_nazv_ontop_cid { margin-top:0px !important; width:100% !important; }
.callmeform { position:absolute; top:0px; z-index:999; margin-left:0px !important; margin-top:0px !important;}
.article_bigpic { width:100% !important; }
.cust_addr_book_lst { width:100% !important; }
.update_cart_fin_error { margin-top:-7px !important; }
.basket_form_quickie { width:100% !important; }
.divider5 { margin: 0 0 0 0; }