
/* basic */

html, body 
{   padding: 15px;
    /*font-family: "Times New Roman", serif;*/
    background-color: rgb(240, 241, 243);
    font-weight: normal;
    -webkit-font-smoothing: antialiased;  
    font-family: Roboto, sans-serif;
    overflow-x: hidden;
}

.rowdelimiter {
    margin: 50px 0 0 0;
}

.sm-rowdelimiter {
    margin: 25px 0 0 0;
}

.xs-rowdelimiter {
    margin: 5px 0 0 0;
}

.rowdelimiter-20 {
    margin: 20px 0 0 0;
}

.change-admin-theme-color {
    cursor: pointer;
}

/* colors */

.btn-success {
    background-color: #18b894;
    border-color: #18b894;
}

.btn-success:hover, .btn-success:focus  {
    background-color: #159e7f;
    border-color: #159e7f;
}

.btn-danger {
    background-color: #fa4e5f;
    border-color: #fa4e5f;
}

.btn-danger:hover, .btn-danger:focus {
    background-color: #e54756;
    border-color: #e54756;
}

.btn-info, .bootstrap-switch-info {
    background-color: #55cbd9 !important;
    border-color: #55cbd9 !important;
}

.btn-info:hover, .btn-info:focus, .bootstrap-switch-info:hover, .bootstrap-switch-info:focus {
    background-color: #50c0cd;
    border-color: #50c0cd;
}

.btn-warning, .bootstrap-switch-warning {
    background-color: #f7b55f !important;
    border-color: #f7b55f !important;
}

.btn-warning:hover, .btn-warning:focus {
    background-color: #e5a450;
    border-color: #e5a450;
}

.btn-primary {
    background-color: #7986CB;
    border-color: #7986CB;
}

.btn-primary:hover, .btn-primary:focus {
    background-color: #5C6BC0;
    border-color: #5C6BC0;
}

.btn-file {
    background-color: #fff;
    border-color: #ccc;
    color: #333;
}

.btn-file:hover, .btn-file:focus {
    background-color: #eee;
    border-color: #ccc;
    color: #333;
}

.btn-default {
    background-color: rgb(240, 241, 243);
}

.pagination>li>a, .pagination>li>span, .pagination>.disabled>span, .pagination>.disabled>span:hover {
    background-color: transparent;
}

.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus {
    background-color: #e5e5e5;
}

.pagination>.active>a, .pagination>.active>span, 
.pagination>.active>a:hover, .pagination>.active>span:hover, 
.pagination>.active>a:focus, .pagination>.active>span:focus {
   background-color: #ddd;
   border-color: #ddd; 
   color: #333;
}

footer {
    color: #777;
}

/* navbar */

.top-veer-line {
    height: 2px;
    background-color: #ccc;
    margin-left: -30px;
    margin-right: -30px;
}

.top-veer-line-hover {
    background-color: #1E88E5;
}

.navbar-default {
    background-color: #fff;
    border-bottom-color: #e5e5e5;
    padding: 0px 30px;
    box-shadow: rgba(0, 0, 0, 0.0680392) 0px 1px 1px 0px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.0680392) 0px 1px 1px 0px;
}

.logo-site {
    color: #ccc !important;
    letter-spacing: 3px;
    font-weight: 700;
    border: 2px #ccc solid;
    border-top: 0px;
    padding: 5px 8px 5px 10px;
    border-radius: 0px;
    top: -9px;
    position:relative;
}

.logo-site:hover {
    color: #1E88E5 !important; //#386ce0 !important;
    border: 2px #1E88E5 solid;
}

.no-border-form-control {
    border: 0px;
}

.dropdown-toggle {
   //color: #386ce0 !important; 
}

.navbar-search {
    border: 0px;
    background-color: #fff;
}

.navbar-toggle .icon-bar {
    /*background-color: #386ce0 !important; */
}

.navbar-toggle {
   /* border-color: #386ce0 !important; */
}

.navbar-search-input {
   width: 120px !important;
}

@media (max-width: 900px) {
    .navbar-search-input {
        width: 100px !important;
    }   
}
    
@media (max-width: 767px) {
    .navbar-search-input {
        width: 100% !important;
    }   
}

.breadcrumb-block, .main-content-block {
    background-color: rgb(240, 241, 243);
    /*-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04);
    box-shadow: 0 1px 1px rgba(0,0,0,.04);*/
}

.breadcrumb-block .breadcrumb {
    background-color: #fff;
    padding: 7px 0px;
    -webkit-box-shadow: rgba(255, 255, 255, 0.168627) 0px 0px 0px 1px inset, rgba(43, 50, 57, 0.1470588) 0px 1px 2px 0px;
  box-shadow: rgba(255, 255, 255, 0.168627) 0px 0px 0px 1px inset, rgba(43, 50, 57, 0.1470588) 0px 1px 2px 0px;
}

.breadcrumb-block .breadcrumb > li {
    display: block;
    padding: 7px 15px;
}

.breadcrumb-block .breadcrumb > .active {
    background-color: #fff;
    border-left: 2px #e54756 solid;
    padding-left: 13px;
}

.breadcrumb-block .breadcrumb > li + li:before {
  padding: 0 0px;
  color: #ccc;
  content: "";
}

.breadcrumb > .active a {
    color: inherit;
}

.breadcrumb-top-categories {
    background-color: transparent;
    padding: 0px;
}

.breadcrumb-top-categories > li + li:before {
  padding: 0 5px;
  content: "";
}

.events-veer-message-center {
    -webkit-background-clip: border-box;
    -webkit-background-origin: padding-box;
    -webkit-background-size: auto;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(65, 95, 118, 0.8);
    background-image: none;
    background-origin: padding-box;
    background-size: auto;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    bottom: 30px;
    box-sizing: border-box;
    color: rgba(250, 251, 255, 0.952941);
    display: none;
    height: 80px;
    right: 30px;
    line-height: 20.1599998474121px;
    max-width: 250px;
    padding: 10px 22px 15px 22px;
    pointer-events: auto;
    position: fixed;
    top: auto;
    width: 75%;
    z-index: 1000;
}

.events-veer-message-center > a {
    color: #fff;
    text-decoration: underline;
    color: #ffcc66;
}

.hr-narrow, .hr-footer, .hr-darker {
    margin-top: 0px;
    border-top-color: #ddd;
}

.attribute-form {
    background-color: #f5f5f5; //#f5f5f5;
    padding: 10px 10px 10px 10px;    
    border-radius: 5px;
    box-shadow: 0 1px 1px 0 #999;
    margin: 0px 0px 30px 0px;
}

.admin-form {
    border-width:0px;
    box-shadow: 0 0 0 0 #fff;
    font-size: inherit;
    height: inherit;
    background-color: transparent;
}

/* sites */

.sites-block {
    background-color: #fefefe;
    padding: 15px 15px 15px 15px;
    //-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.9);
    //box-shadow: 0 1px 1px rgba(0,0,0,.09);
    margin-bottom: 30px;
    
 -webkit-box-shadow: rgba(255, 255, 255, 0.168627) 0px 0px 0px 1px inset, rgba(43, 50, 57, 0.1470588) 0px 1px 2px 0px;
  border-radius: 3px;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, 0.168627) 0px 0px 0px 1px inset, rgba(43, 50, 57, 0.1470588) 0px 1px 2px 0px;
}

.sites-block-half {
    float: left;
    width: 50%;
    padding-right: 5px;
}

.sites-block-last {
    padding-right: 0px;
    padding-left: 5px;
}

.site-snapshot {
    border-bottom: 15px #fff solid;
}

/* categories */

.categories-page h2 {
    margin-top: 0px;
}

.pages-page h3 {
    margin-top: 0px;
}

.categories-page, .pages-page {
    background-color: #fff;
 -webkit-box-shadow: rgba(255, 255, 255, 0.168627) 0px 0px 0px 1px inset, rgba(43, 50, 57, 0.1470588) 0px 1px 2px 0px;
  box-shadow: rgba(255, 255, 255, 0.168627) 0px 0px 0px 1px inset, rgba(43, 50, 57, 0.1470588) 0px 1px 2px 0px;
  padding: 25px 25px 25px 25px;
  border-radius: 3px;
}

.categories-page-general {
    padding-top: 15px !important;
}

.category-add {
    margin-top: 10px;
}

.categories-child-list {
    margin-bottom: 10px;
}

.categories-child-list-no-bottom {
    margin-bottom: 0px;
}

.categories-remote-url {
    margin-top: 32px;
}

@media (min-width: 768px) {
    .categories-update-button {
        text-align: right;
    }
}

.categories-connections-block {
    position: relative;
    height: 30px;
    margin-bottom: 5px;
}

.categories-connections-name {
    float: left;
    position: absolute;
    top: 6px;
    left: 15px;
    background-color: rgb(240, 241, 243);
    padding-right: 15px;
    color: #999;
}

.categories-connections {
    margin-top: 15px;
    border-bottom: 1px #ddd solid;
    width: 100%;
    float: left;
}

.categories-page-input, .transparent-input {
    background-color: transparent;
}

.color-upload-form .kv-fileinput-caption, .color-upload-form .btn-file  {
    background-color: transparent;
}

.color-upload-form .btn-file:hover {
    background-color: #ddd;
}

/* images */

.thumbnail-image-list {
    border: 0px;
    background-color: #fff;
    margin-bottom: 30px;
    padding: 0px 0px 0px 0px;
    
 -webkit-box-shadow: rgba(255, 255, 255, 0.168627) 0px 0px 0px 1px inset, rgba(43, 50, 57, 0.1470588) 0px 1px 2px 0px;
  box-shadow: rgba(255, 255, 255, 0.168627) 0px 0px 0px 1px inset, rgba(43, 50, 57, 0.1470588) 0px 1px 2px 0px;
}

.thumbnail-image-list:hover {
    -webkit-box-shadow: rgba(255, 255, 255, 0.168627) 0px 0px 0px 1px inset, rgba(43, 50, 57, 0.3470588) 0px 1px 2px 0px;
     box-shadow: rgba(255, 255, 255, 0.168627) 0px 0px 0px 1px inset, rgba(43, 50, 57, 0.3470588) 0px 1px 2px 0px;
}

.thumbnail-image {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

/* pages or products */

@media (min-width: 992px) {
    .pages-breadcrumb {
        width: 15.3333333%;
    }

    .pages-main {
        width: 84.66666667%;
    }
}

@media (min-width: 1200px) {
    .pages-image-thumb, .products-image-thumb {
        max-height: 125px;
        overflow: hidden;
    }

    .pages-breadcrumb {
        width: 12.3333333%;
    }

    .pages-main {
        width: 87.66666667%;
    }
}

.page-small-txt-restore, .page-main-txt-restore {
    cursor: pointer;
}

.pages-column h1 {
    margin-top: 0px;
}

.pages-left-sort-variants {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.pages-left-sort-variants > li {
    display:inline;
    margin-right: 15px;
}

@media (min-width: 992px) 
{
    .pages-left-sort-variants > li {
        display: block;
    }
}

.pages-thumbnail, .products-thumbnail {
    border: 0px;
    background-color: #fff;
    margin-bottom: 30px;
    padding: 0px 0px 0px 0px;
    
 -webkit-box-shadow: rgba(255, 255, 255, 0.168627) 0px 0px 0px 1px inset, rgba(43, 50, 57, 0.1470588) 0px 1px 2px 0px;
  box-shadow: rgba(255, 255, 255, 0.168627) 0px 0px 0px 1px inset, rgba(43, 50, 57, 0.1470588) 0px 1px 2px 0px;
}

.pages-thumbnail:hover, .products-thumbnail:hover {
    -webkit-box-shadow: rgba(255, 255, 255, 0.168627) 0px 0px 0px 1px inset, rgba(43, 50, 57, 0.3470588) 0px 1px 2px 0px;
     box-shadow: rgba(255, 255, 255, 0.168627) 0px 0px 0px 1px inset, rgba(43, 50, 57, 0.3470588) 0px 1px 2px 0px;
}

.pages-thumbnail-img, .products-thumbnail-img {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

/* page */

.page-stats .btn {
    margin-bottom: 5px;
}

.add-more-attributes {
    cursor: pointer;
    top: -20px;
    position: relative;    
}

.attributes-input, .attributes-input-val {
    border: 0px;
    box-shadow: none;
    -webkit-box-shadow: none;
    border-bottom: 1px #dedede solid;
    border-radius: 0px;
    padding-left: 0px;
}

.attributes-input-val {
    border-bottom: 0px;
}

.pages-page .list-group {
    margin-bottom: 0px;
}

.suggestions-in-list {
    border-radius: 4px;
}

.suggestions-in-list-2 {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.pages-page-attributes {
    padding-bottom: 0px;
}

/* --- */

.round-element {
    background-color: #FFF;
    border-radius: 15px;
    border: 1px #ddd solid;
    box-sizing: border-box;
    color: #337AB7;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    padding: 5px 14px 14px 14px;
    text-align: center;
    text-decoration: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-text-decoration-color: #337AB7;
    -moz-text-decoration-line: none;
    -moz-text-decoration-style: solid;
    margin: 0px 20px 20px 0px;
    float: left;
}

.round-element-primary {
    background-color: #337ab7;
    padding: 5px 14px 5px 0px;
}

.round-element-primary:hover {
    //background-color: #286090;
}

.badge > a { 
    color: #fff;
    text-decoration: underline;
}

.active-download {
    border-left: 2px #777 solid;
}

.bg-muted {
    background-color: #efefef;
}

.image-faded {
    opacity: 0.5;
}

.bordered-row {
    border-top: 1px #dedede solid;
    padding-top: 10px;
    padding-bottom: 10px;
}

.bordered-row:hover {
    background-color: #efefef;
}

.label > a {
    color: #fff;
    text-decoration: none;
}

.top-panel {
    position: absolute;
    top: 10px;
    left: 15px;
    font-size: 1.3em;
    padding: 4px 10px 0px 15px;
    background-color: rgba(71, 186, 195, 0.9);
    color: #fff;
}

.top-panel-right {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 1em;
    padding: 5px 10px 4px 10px;
    background-color: rgba(200, 200, 200, 0.8);
}

.top-panel-transparent {
    position: absolute;
    top: 10px;
    right: 16px;
    font-size: 1.3em;
    padding: 4px 10px 0px 15px;
    background-color: rgba(71, 186, 195, 0.5);
    color: #fff;
}

.danger-icon {
    color: #FF4136;
}

.warning-icon {
    color: #ffcc66;
}

.additional-info {
    margin-left:20px;
    color: #999;
}

.narrower {
   padding-left: 0px;
}

.page-checkboxes-box {
    padding-bottom: 10px;
    display: inline-block;
    margin-right: 30px;
}

.page-checkboxes-box-last {
    margin-right: 0px;
}

.action-hover-box {
    -webkit-background-clip: border-box;
    -webkit-background-origin: padding-box;
    -webkit-background-size: auto;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(79, 78, 74, 0.2);;
    background-image: none;
    background-origin: padding-box;
    background-size: auto;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 0px;
    top: 30px;
    box-sizing: border-box;
    color: rgba(250, 251, 255, 0.952941);
    display: none;
    height: 75px;
    right: 0px;
    line-height: 20.1599998474121px;
    max-width: 175px;
    padding: 15px 22px 22px 22px;
    pointer-events: auto;
    position: fixed;
    bottom: auto;
    width: 75%;
    z-index: 9000;
}

.categories-group {
    margin-bottom: 7px;
}

.sortable-dragging {

}

.sortable-placeholder {
    list-style-position: inside;
    list-style-type: none;
    padding:0px;
    height: 50px;
    background-color: #fefefe;
}

.attribute-descr {
    text-align: center;
    cursor: pointer;
    font-size: x-small;
    color: #ccc;
}

.thumbnail-user {
    margin-bottom: 0px;
}

.thumbnail-admin {
    border-color: #d9534f;
    border-bottom-width: 10px;
}

.bank-data {
    font-style: italic;
}

.list-group-item-active-invert {
    color: #fff;
}

.limited-size-input-10 { width:10% !important; }
.limited-size-input-20 { width:20% !important; }
.limited-size-input-30 { width:30% !important; }
.limited-size-input-40 { width:40% !important; }
.limited-size-input-50 { width:50% !important; }
.limited-size-input-60 { width:60% !important; }
.limited-size-input-70 { width:70% !important; }
.limited-size-input-80 { width:80% !important; }
.limited-size-input-90 { width:90% !important; }
.limited-size-input-100 { 
    width:100% !important;
    margin: 5px 0px 5px 0px;
}

.label-bg {
    font-size: 1em;
}

.pinned {
    border-left: 5px solid #ffcc66;
    //border-top:5px solid #ffcc66;
}

.not-pinned {
    border-left-width: 5px;
}

.label-yellow {
    background-color: #ffcc66;
    color: #000;
}

.xs-thumbnails-img {
    width: 50px;
}

.xs-thumbnails-grid {
    padding-right: 0px !important;
    width: auto !important;
    max-width: 50%;
}

.input-no-borders {
    border-width: 0px;
    box-shadow: 0 0 0 0 #fff;
}

.no-body-padding {
    margin-left: -30px !important;
    margin-right: -30px;
    padding: 0px 0px 0px 0px !important;
    border-top-color: #ddd !important;
    border-top-style: dashed;
}

.margin-bottom-button {
    margin-bottom: 5px;
}

.suggestions-clickable:hover {
    background-color: #ccc;
    cursor: pointer;
}

.suggests-images {
    max-width: 75px;
}

.suggestions-clickable:first-child  {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}