body {
    font-family: Roboto, "Open Sans", sans-serif;
}

.container-fluid {
    max-width: 1400px;
}

.bolshaya-content-row {
    margin-top: 40px;
}

.bolshaya-content-half-row {
    margin-top: 20px;
}

.bolshaya-background-white {
    background-color: #fff !important;
}

/* top */

.top-background-line {
    background-color: #ccc; 
    height: 7px;
}

.fixed-header {
    background-color: #fff;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 60px;
    width: 100%;
    z-index: 1000;
    opacity: 0.9;
}

.bolshaya-white-panel {
    padding-top: 15px;
    color: #222;
    overflow: hidden;
}

.logo-header {
    letter-spacing: 5px;
}

.email-header {
    padding-left: 30px;
}

/* hero */

.bolshaya-overflow { overflow: hidden; }

.intro {
    background-color: #f0f2f3;
    margin-top: 60px;
    padding-top: 75px;
    padding-bottom: 0px;
}

.moto-big, h1 {
    font-size: 43px;
    font-family: "Roboto", "Open Sans";
    font-weight: 300;
    line-height: 53px;    
    letter-spacing: 1px;
    margin-top: 0px;
    color: #2d2d2d;
}

.hero-content {
    margin-top: 50px;
    min-height: 211px;
}

.contact-form, .contact-form-2 {
    margin-top: 35px;
}

.contact-form > button {
    background-color: rgb(32, 152, 245);
    border-color: rgb(32, 152, 245);
    font-weight: bold;
    margin-left: 7px;
}

.contact-form > button:hover {
    background-color: rgb(10, 124, 212);  
    border-color: rgb(10, 124, 212);  
}

.contact-form-2 > .hidden { display: none; }

.contact-form-2 > input {
    margin-right: 7px;
}

.contact-form > input, .contact-form-2 > input, 
.contact-form > button, .contact-form-2 > button {
    margin-bottom: 5px;    
}

/* block types */

.type-2-image {
    margin-bottom: 15px;
}

.type-2-information {
    display: block;
    margin-top: 5px;
}

.type-3-text, .type-4-text {
    padding-left: 10%;
    padding-right: 10%;
    position: absolute;
    bottom: 30px;
    left: 0px;
    right: 0px;
}

.type-3-text > .text-muted {
    color: #000;
    opacity: 0.6;
}

.type-4-image {
    height: 340px;
}

.type-4-text {
    color: #cdcdcd;
}

.type-4-text > .text-muted {
    /*color: #cdcdcd;
    opacity: 0.6;*/
}

.type-5-category, .type-6-category {
    font-size: 13px;
    opacity: 0.7;
    text-transform: uppercase;
}

.type-5-image {
    margin-bottom: 15px;
}

.type-5-title, .type-6-title {
    margin-top: 7px;
}

.type-6-text {
    position: absolute;
    bottom: 15px;
    left: 0px;
    right: 0px;
    padding: 0px 15% 0px 15%;
}

.type-7-text {
    background-color: #dedede;
    height: 400px;
    padding: 45px 15% 0px 15%;
}

.type-7-image {
    margin-bottom: 15px;
    max-width: 75px;
    max-height: 75px;
}

.type-8-text {
    background-color: #dedede;
    height: 340px;
    padding: 15% 15% 0px 15%;
}

.type-9-text {
    border-top: 2px #ddd solid;
    padding-top: 10px;
    min-height: 200px;
}

.type-9-text > .title {
    font-size: 18px;
    line-height: 23px;
    padding-top: 10px;
    color: #444;
    padding-right: 25px;
}

.type-9-text > .source {
    color: #444;
    font-size: 12px;
    letter-spacing: .5px;
    line-height: normal;
    text-transform: uppercase;
    opacity: .5;
}

.type-9-text > .source > .time {
    font-family: serif;
    letter-spacing: 0px;
    text-transform: none;
    margin-left: 5px;
    font-style: italic;
}

.type-10-image {
    max-height: 211px;
}

/* mini blocks */

.bolshaya-mini-img-block {
    float: left;
    margin-right: 20px;
    margin-bottom: 5px;
    display: table-cell;
}

.bolshaya-mini-text-block {
    display: table-cell;
}

.bolshaya-mini-text-block > h3 {
    margin-top: 7px;
    font-weight: 500;
}

h3 > .thinner {
    font-weight: 300;
}

.digest-title {
    text-transform: uppercase;
}

/* foot */

.footer {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #222;
    color: #ccc;
}

/* sidebar */

.sidebar {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    height: 100%;
    left: -220px;
    line-height: 28px;
    padding: 30px;
    position: fixed;
    top: 0px;
    vertical-align: baseline;
    width: 150px;
    z-index: 2000;
}

.overlay {
    background-color: #000;
    opacity: 0;
    color: rgb(0, 0, 0);
    height: 100%;
    position: fixed;
    top: 0px;
    vertical-align: baseline;
    width: 100%;
    z-index: 1500;
    display: none;
}

/* parallax type 12 */

.bcg {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
}

#slide-1 .bcg {
    /*background-image:url();*/
    background-color: #ccc;
}

/* show more */
.show-more {
    text-transform: uppercase;
    border-radius: 15px;
    border: 2px solid #ccc;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 11px;
    padding: 10px;
}
