body { font-family:Verdana; background-color:#ffffff; padding:0px; margin:0px auto; text-align:center; font-size:1em;}
form { margin:0px; padding:0px; }

    @font-face { font-family: 'ALSRublRegular'; src: url('images/rouble.eot');
            src: local('ALS Rubl'), local('ALSRubl'), url('images/rouble.woff') format('woff'), url('images/rouble.ttf') format('truetype'), url('images/rouble.svg#ALSRubl') format('svg'); }
    span.rur { font-family: "ALSRublRegular";  }

a {
        color:#6689b1;
}

.body_div { overflow:auto; }

.top_blok { position:fixed; z-index:97; }
.everything_else { padding-top:33px; }
.everything_else_notify { padding-top:55px; }

.header_logo { margin-left:10px; margin-right:0px;
    margin-top:15px; background-color:#ffffff;
    text-align: left; width:200px;  }

.up_header {
    clear:right; margin:0 10px 0 10px;
    background-color: #eeeeee;
    color:#000000;
    font-size:0.7em;
    text-align:right;
    padding-bottom:5px; padding-top:5px; padding-right:15px; padding-left:0px;
    border-bottom-right-radius:7px; -moz-border-radius-bottomright:7px;
    border-bottom-left-radius:7px; -moz-border-radius-bottomleft:7px;
   
}

.up_basket {
    float:left; margin:0 0 0 10px;
    background-color: #cccccc;
    text-align:left;
    padding:10px 20px 11px 20px;
    border-bottom-left-radius:7px; -moz-border-radius-bottomleft:7px;
    font-size:0.7em; 
}

.up_basket a { color:#b0223b; }

.up_notify { 
    background-color:#ff3366;
    margin-left:10px; margin-right:10px;
    padding-bottom:5px; padding-top:5px;
    font-size:0.7em;
    color:#ffffff;
}

.up_notify_blank {
    padding:0px; margin:0px;
}

.container { margin-left:210px;  margin-right:10px; }

.phone_cls {
    margin-top:14px; margin-right:0px; padding-left:15px; margin-bottom:9px;
    font-family:Tahoma; font-size:1em; 
    color:#b0223b;
    text-align:left;
}

.page_on_main {
    font-family:Tahoma; font-size:0.8em;
    color:#000000; line-height: 135%;
}

.header_chosen { margin:0 0 0 0; padding:0 0 0 45px; text-align:left; float:left; }
.bigpic { width:330px; }

.header_name { 
    padding-right:15px;
    padding-left:40px;
    padding-top:14px;
    text-align: left;
    font-size:1.1em;
    font-family:Tahoma;
    height:235px;
    overflow:hidden;
    background-color:#ffffff;
}

.header_name_blank {}
.header_top_css { text-align:left; height:235px; overflow:hidden; }

.callme_st a {
    color:#33cc66;
    font-size:0.8em;
}
.callme_st { margin-bottom:10px; }

.big_price {
    margin-top:7px;
    color:#33cc66;
}

.news_imp { 
    padding:10px 10px 10px 10px;
    background-color:#eeeeee;  font-size:1em;
    overflow:hidden; text-align:left;
}
.news_imp p { padding:0; margin:5px 0 0 0; }
.news { font-size:1em; text-align:left; padding-bottom:17px; margin-bottom:17px; border-bottom:1px solid #cccccc;}
.news p { padding:0; margin:5px 0 0 0; }
.news a { color:#000000; }
.news_zag { border-top:1px solid #6689b1; background-color:#eeeeee; padding-left:10px; padding-top:5px; padding-bottom: 5px; margin-bottom:15px; text-align:left; font-size:0.75em; }

.news_dat { font-size:0.5em; color:#666666; }
.news_pic { text-align:left; width:150px; overflow:hidden; margin-right:10px; margin-bottom:1px; }
.news_txt { font-size:0.65em; color:#000000; }

.cat_list { 
    margin-top:40px; margin-left:0px;
    font-size:0.8em;
    line-height: 135%;
}

.cat_list a { color:#000000; }
.cat_current { font-weight:bold; background-color:#ffff00; }
.cat_level_plus { font-size:1.1em; margin-left:0px; margin-right:5px; background-color: #6689b1; padding:0px 5px 0px 5px; }
.cat_level_plus a { text-decoration: none; color:#000000 !important;  }

.cat_level_minus { font-size:1.5em; margin-left:0px; margin-right:5px; background-color: #b0223b; padding:0px 7px 0px 7px; }
.cat_level_minus a { text-decoration: none; color:#ffffff; }

.cat_level_yes { padding-bottom: 10px; }
.cat_level_curr { font-size:1.1em; margin-left:0px; margin-right:5px; background-color: #33cc66; padding:0px 2px 0px 2px;}
.cat_level { font-size:1.1em; margin-left:0px; margin-right:5px; background-color: #ffffff; padding:0px 2px 0px 2px;}

.div_cat_level_2 { margin-top:0px; margin-bottom:20px; margin-left:0px; font-size:1em;}
.div_cat_level_2 a { color:#6689b1; }

.keyword_list { margin-top:40px; margin-bottom:20px; font-size:0.9em;  }
.keyword_title a { font-size:0.65em; color: #000000; }

.attr_list { margin-top:40px; margin-bottom:20px; font-size:0.9em;  }
.attr_list a { font-size:0.8em; }
.attr_title a { font-size:0.65em; color: #000000; }

.last_articles { margin-top:40px; margin-bottom:20px; font-size:0.9em;  }
.last_articles p { padding:10px 0 0 0; margin:0; font-size:0.8em; }
.last_articles a { font-size:0.8em; color:#b0223b; }
.last_articles_one a { font-size:0.65em; color:#000000; }

.popular_cats { margin-top:40px; margin-bottom:20px; font-size:0.75em;  }
.popcat_title { font-size:1.2em; padding-bottom:10px; }
.popular_cats p { padding:10px 0 0 0;margin:0; }

.moreimg { 
    float:left; margin-right:5px; margin-bottom:5px; border-width:1px; border-spacing: 0px; border-color:#666666; border-style:dotted;
}


.price_star_1 { text-decoration: line-through; color: #ff3366; }
.price_star_2 { background-color:#ff3366; color:#ffffff; font-size:0.8em; }
.price_star_new { background-color: #ffff00; color:#000000;  padding:0 5px 0 5px; }

.products_in_list {
    text-align:left; width:110px; float:left; margin-left:35px;
    font-size:0.75em; overflow:hidden; }
.products_in_list a { color:#000000; } 
.products_in_list p { margin:7px 0 0 0;padding:0; }
.products_in_list_img { width:110px; overflow: hidden; }
.products_in_list_price { color:#33cc66; font-weight:bold; }

.groups_in_list {
    text-align:left; width:250px; float:left; margin-left:35px;
    font-size:0.75em; overflow:hidden; }
.groups_in_list a { color:#000000; }
.groups_in_list p { margin:7px 0 0 0;padding:0; }
.groups_in_list_img { width:250px; height:100px; overflow:hidden; border-left:2px #b0223b solid; padding-left:5px; }
.groups_in_list_price { color:#33cc66; font-weight:bold; }

.groups_in_list_one {
    text-align:left; width:110px; float:left; margin-left:35px;
    font-size:0.75em; overflow:hidden; }
.groups_in_list_one a { color:#000000; }
.groups_in_list_one p { margin:7px 0 0 0;padding:0; }
.groups_in_list_one_img { width:110px; height:100px; overflow:hidden; border-left:2px #b0223b solid; padding-left:5px; }
.groups_in_list_price { color:#33cc66; font-weight:bold; }

.products_line { clear:both; padding-top:50px; }
.products_line_catshop { clear:both; padding-top:50px; }
.products_line_catshop_clear { clear:left; padding-bottom:0px; }

.filtr_name {  margin-left:35px; margin-right:30px; font-size:0.75em; color:#000000; text-align:left;
    border-top:1px solid #bbbbbb; background-color:#eeeeee; padding-left:10px; padding-top:5px; padding-bottom:5px; margin-top:30px; margin-bottom:15px;
}

/* .add2cart {
    background-color:#33cc66; color:#000000; padding:1px 5px 2px 5px;
    font-size:1.5em; border-width:0px; text-decoration: underline;
    cursor: pointer; width:172px;
 } */

.special_img {
    background-repeat:no-repeat;width:110px;height:40px;
    font-size:0.8em; color:#000000;
    padding:5px 0 0 5px;margin:0 0 0px 0;
}

.special_img_2 {
    background-repeat:no-repeat;width:200px;height:40px;
    font-size:0.8em; color:#ffffff;
    padding:5px 0 0 5px;margin:0 0 0px 0;
}

.special_img_3 {
    background-repeat:no-repeat;width:110px;height:40px;
    font-size:0.8em; color:#ffffff;
    padding:5px 0 0 5px;margin:0 0 0px 0;
}

.chosen_products { margin-right:0px; padding:0; margin-left:10px; margin-top:15px; position:relative; overflow:auto; margin-bottom:35px; }

.recomendations_products { margin-right:0px; padding:0; margin-left:10px; margin-top:15px; position:relative; overflow:auto; margin-bottom:35px; }
.recomendations_name { 
    margin-left:35px; margin-right:30px; font-size:0.75em; color:#000000; text-align:left;
    border-top:1px solid #bbbbbb; background-color:#eeeeee; padding-left:10px; padding-top:5px; padding-bottom:5px; margin-top:10px; margin-bottom:15px;
}

.randoms_tbl { width:575px; margin-left:30px; }

.randoms_name { margin-left:10px;
    font-size:0.75em; color:#000000; text-align:left;
    border-top:1px solid #bbbbbb; background-color:#eeeeee; padding-left:10px; padding-right:10px; padding-top:5px; padding-bottom:5px; margin-top:10px; margin-bottom:15px;
}

.googlenews { font-size:0.65em; text-align:left; padding-bottom:17px; margin-bottom:17px; }
.googlenews_name { font-size:1.2em; color:#000000;
    border-top:1px solid #bbbbbb; background-color:#eeeeee; padding-left:10px; padding-right:10px; padding-top:5px; padding-bottom:5px; margin-top:10px; margin-bottom:15px;}

.page_nazv { font-family:Tahoma; line-height:98%; font-size:1.7em; padding:0 0 0 0; margin: 0 0 0 0; color:#000000; text-align:left; padding-top:0px; }
.page_descr { background-color:#eeeeee; padding:5px 5px 1px 5px; width:535px; text-align:left; margin-top:5px; font-size:0.73em; line-height:140%; }
.page_news { background-color:#eeeeee; padding:5px 5px 5px 5px; width:535px; text-align:left; margin-top:5px; font-size:0.73em; line-height:140%; }
.page_flag { float:left; font-size:0.65em; margin-right:5px;}

.page_imgs {  border:1px #6689b1 dashed; padding:5px 5px 5px 5px; float:left; margin:0 5px 5px 0; }
.page_imgs_lst { margin-top:0px; text-align:left; width:500px; height:63px; position:relative; overflow:hidden; margin-bottom:20px;}

.keyword_page_list { margin-top:25px; margin-bottom:0px; font-size:0.9em; }
.keyword_title_page { font-size:0.7em; color:#999999; }
.keyword_title_divider { border-bottom: 1px #cccccc solid; width:550px; }
.attr_page_list { margin-top:25px; margin-bottom:0px; font-size:0.9em;  }
.attr_title_page { font-size:0.7em; color:#999999;  }
.attr2_page_list { margin-top:25px; margin-bottom:0px; font-size:0.9em;  }

.divider { text-align:left; color:#cccccc; height:1px; margin:5px 0px 5px 0px; padding:0 0 0 0; background-color:#cccccc; border-color:#cccccc; border:0px;  }
.prds_divider { text-align:left; color:#33cc66; height:1px; margin:5px 0px 0px 0px; padding:0 0 0 0; background-color:#33cc66; border-color:#cccccc; border:0px; }
.sort_type { font-size:0.7em; text-align:left; margin-left:45px; }
.sort_type a { color:#000000; }
.sort_detected { font-weight:bold; background-color:#cccccc; }
.page_prds_listing_name { margin-top:25px; font-size:1em; color:#11aa44; }
.page_prds_listing_name_new { margin-top:25px; font-size:1em; color:#666666; }
.prds_divider_new { text-align:left; color:#999999; height:1px; margin:5px 0px 0px 0px; padding:0 0 0 0; background-color:#999999; border-color:#cccccc; border:0px; }

.products_list { margin-left:12px; margin-top:35px; overflow:auto; position:relative; }

.catpage_recomends { padding:5px 5px 5px 5px; border:1px #6689b1 dashed; }

.news_dat_page { font-size:0.75em; color:#666666; }
.news_pic_page { text-align:left; width:150px; overflow:hidden; margin-right:10px; margin-bottom:1px; }
.news_txt_page { font-size:1em; color:#000000; }
.page_navig { font-size:0.65em; margin-top:20px; color:#999999; }
.page_news_full { border-top:1px #cccccc dashed; margin-left:40px; margin-top:20px; padding:5px 5px 5px 5px; width:535px; text-align:left; font-size:0.73em; line-height:140%; }

.all_keywords_column { float:left; margin-right:30px; margin-top:20px; width:150px; }
.all_keywords_column p { margin:0px 0 5px 0; padding: 0 0 0 0; }

.attr_lst { font-size:0.9em; }
.attr_lst p { margin:0 0 5px 0; padding: 0 0 0 0; }

.article_dat { font-size:0.65em; color:#999999; }
.article_cat { float:left; margin-right:10px; background-color:#6689b1; color:#ffffff; font-size:0.65em; padding:2px 5px 2px 5px; }
.article_cat a { color:#ffffff; text-decoration:underline; }
.article_nazv { margin-top:2px; font-size:0.8em; }
.article_nazv a { color:#333333; }
.article_news_flag { font-size:0.75em; color:#ffffff; background-color:#b0223b; padding:2px 5px 2px 5px; margin-right:10px;   }
.article_table { margin-top:20px; width:520px; }
.article_divider { border-top:1px #cccccc dashed; font-size:3px; }
.article_bigpic { height:235px; width:530px; }

.news_page_all { font-size:1em; text-align:left; padding-bottom:17px; margin-bottom:17px; border-bottom:1px dashed #cccccc;}
.page_news_full_2 {
    border-top:1px #cccccc dashed; margin-top:20px; width:172px; text-align:left; padding-top:15px; overflow:hidden; font-size:0.65em; font-family:Verdana; line-height:110%; }

.page_txt { font-size:0.8em; text-align:left; width: 100%; overflow:hidden; }
.page_flag_2 { clear:right; padding-top:20px; margin-top:0px; margin-left:-10px; font-size:0.65em; margin-right:5px; margin-bottom:10px; color:#333333; }
.page_nazv_2 { margin-left:-10px; border-bottom:1px #cccccc dashed; padding-bottom:15px; margin-bottom:20px; }

.page_txt table { font-size: 0.8em; width:100%; }
.page_txt td { padding:5px; }
.page_txt p { margin:10px 0 0 0;padding:0 0 0 0;}

.comments_number { margin-left:15px; width:45px; padding:0 0 0 0; font-size:0.4em; color:#333333; }

.comments { overflow:auto; position:relative; }
.comments_author { color:#6689b1; font-weight:bold; float:left; width:136px; font-size:0.75em; overflow:auto; position:relative; }
.comments_dat { margin-top:5px; color:#999999; font-size:0.8em; font-weight:normal; }
.comments_txt { padding-left:170px; font-size:0.75em; }
.comments_divider { margin-top:15px; border-top:1px #cccccc dashed; margin-bottom:15px; }
.comments_form { border-spacing:10px; font-size:0.75em; }

.comments_blok { margin-top:5px; padding-top:5px; font-size:1em; padding-bottom:5px; color:#000000; background-color:#cccccc;
                padding-left:10px; padding-right:10px; margin-bottom:20px; }


.product_big_img { width:300px; padding-left:10px; border-left:1px #cccccc dashed;  border-right:1px #cccccc dashed; margin-left:10px; height:235px; overflow:hidden;  }


.product_nazv { font-size:1.7em; overflow:auto; position:relative; }
.product_rate_yn { float:right; font-size:0.65em; color:#666666; margin-top:10px; }
.product_rate_all { margin-left:10px; margin-top:10px; float:right;position:relative;height:25px;width:105px;text-align:left; }
.product_rate { background-color:#33cc66; height:20px; text-align:left; position:absolute; left:0px; top:0px; }
.product_rate_full { position:relative; overflow:auto; margin-top:5px; }
.product_price { float:left; color:#33cc66; margin-top:5px; font-size:1.4em; }
.product_add2list { margin-left:255px; width:500px;
    margin-top:-22px; z-index:97; font-size:0.7em; text-align:left; padding:2px 0 10px 15px;
    background-color:#eeeeee; position:relative; overflow:hidden; border-right:1px #cccccc dotted; border-left:1px #cccccc dotted; }
.product_compare { color:#b0223b; }
.product_img { margin-right:10px; margin-left:0px; margin-top:2px; padding-top:5px; overflow:auto; position:relative; }
.product_top_blok { position:relative; overflow:auto; }
.product_top_right { }
.product_cats_full { margin-top:7px; font-size:0.8em; overflow:auto; position:relative; }
.product_cats { font-size:0.85em; float:left; margin-bottom:5px; background-color:#6689b1; padding:5px 5px 5px 5px; }
.product_cats a { color:#ffffff; }
.product_small_title { font-size:0.9em; color:#999999;  }
.product_big_title { font-size:1.5em; color:#333333; }
.product_keywords { font-size:0.7em; margin-top:10px; overflow:auto; position:relative; line-height:140%; }
.product_parameters { font-size:0.7em; margin-top:20px; overflow:auto; position:relative; line-height:140%; }
.product_parameters p { margin:12px 0 0 0;padding:0 0 0 0; }
.product_attrs { font-size:1em; margin-top:5px; }
.production_code { font-size:1em; margin-top:5px; }
.product_weight { font-size:1em; margin-top:5px;}
.product_shop { font-size:0.65em; margin-top:0px; float:left; padding-bottom:5px; margin-bottom:1px;}
.product_shop a { color:#999999; text-decoration:none; border-bottom:1px #999999 dotted; padding-bottom:1px;}
.product_grp_nazv { font-size:0.7em; margin-top:20px; overflow:auto; position:relative; }
.product_grp_nazv p { margin:10px 0 0 0;padding: 0 0 0 0; }
.product_descr { font-size:0.8em; margin-top:15px; width:100%; overflow:hidden; }
.product_descr table { font-size: 0.8em; width:100%; }
.product_descr td { padding:5px; }
.product_descr p { margin:10px 0 0 0;padding:0 0 0 0;}
.product_listing_name_blok { margin-top:5px; padding-top:5px; padding-bottom:5px;
    font-size:1em; color:#000000; background-color:#cccccc; margin-left:35px; text-align:left;padding-left:10px; padding-right:10px; margin-bottom:20px; }
.divider_2 { text-align:left; color:#cccccc; height:1px; margin:5px 0px 0px 35px; padding:0 0 0 0; background-color:#cccccc; border-color:#cccccc; border:0px;  }
.product_basket {
    border-left:5px #33cc66 solid; font-size:0.8em; margin-top:15px; font-family:Verdana; padding:0 0 0 10px; margin-right:10px; margin-bottom:15px; }

.product_attr_choose { font-size:1em; font-family:Verdana; background-color:#eeeeee;
width:100%; max-width:200px; width:expression(document.body.clientWidth > 200? '200px': 'auto');
overflow:hidden; }
.product_attr_choose_tbl { font-size:0.8em; margin-bottom: 5px; border:1px #33cc66 dashed; padding:5px 5px 10px 5px;}
.product_attr_choose_tbl_grp { padding-top:7px; font-weight:bold; }

.basket_link_txt { font-size:0.9em; color:#000000; background-color:#eeeeee; padding:5px 5px 5px 5px; }
.product_kogda {  font-size:0.8em; color:#000000; margin-top:10px; padding-left:5px;}
.product_img_list { overflow:auto; position:relative; clear:right;margin-top:25px; }
.product_img_blank { margin:0 0 0 0; padding: 0 0 0 0;width:200px; }
.product_special_type_1 { width:110px; margin-top:0px; padding:0 0 0 0; margin-bottom:3px; margin-left:10px;
                         font-size:0.65em; background-color:#ffff00; color:#000000; font-weight:bold; text-decoration:none; border-bottom:1px #000000 dotted;  }
.product_special_type_2 { width:150px; margin-top:0px; padding:0 0 0 0; margin-bottom:3px; margin-left:10px;
                         font-size:0.65em; background-color:#b0223b; color:#ffffff; font-weight:bold; text-decoration:none; border-bottom:1px #b0223b dotted; }
.product_special_type_3 { width:150px; margin-top:0px; padding:0 0 0 0; margin-bottom:3px; margin-left:10px;
                         font-size:0.65em; background-color:#b0223b; color:#ffffff; font-weight:bold; text-decoration:none; border-bottom:1px #b0223b dotted; }
.product_nazv_ontop { overflow:hidden; position:relative; }
.product_nazv_ontop_cid { overflow:hidden; position:relative; margin-top:20px; }

.footer { color:#333333; width:100%;background-color:#efefef;margin-top:50px; border-top:1px #cccccc solid; padding-top: 10px; padding-bottom:10px; }
.footer a { color:#333333; }
.footer p { margin:5px 0 0 0; padding:0 0 0 0; }

.rating_page_popcat { border-top:1px #cccccc solid; padding-top:15px; margin-top:30px; font-size:0.7em; width:200px; text-align:left; margin-left:45px; float:left; }
.rating_page_popcat p { margin:12px 0 0 0;padding:0 0 0 0;}

.callmeform { width:400px; position:fixed; margin-top:0px; z-index:98; margin-left:245px; text-align:left; background-color:#eeeeee; font-size:0.75em; padding:10px 10px 10px 10px; color:#000000;
              border:7px #cccccc solid; border-top:0px; }
.callmeform table { margin-top:10px; font-size:1em; }

.contact_form { font-weight:bold; margin-left:45px; font-size:0.75em; padding-top:0px; text-align:left; }

.basket_title { background-color:#b0223b; padding:2px 5px 2px 5px; margin-left:-10px; color:#ffffff; }
.basket_descr { background-color:#eeeeee; padding:5px 5px 1px 5px; width:535px; text-align:left; margin-top:10px; font-size:0.73em; line-height:140%; }
.basket_total { margin-top:30px; font-size:0.8em; color:#000000; }
.basket_total #total_prc { color:#33cc66; font-size:1.8em; }
#total_prc_p { padding:0 0 0 0; margin:12px 0 0 0; }
.basket_descr p { margin:5px 0 0 0; padding:0 0 0 0; }
.basket_tbl { font-size:0.7em; text-align:left; margin-left:45px; margin-top:45px; margin-bottom:55px; }
.basket_tbl table { font-size:1em; }
.basket_tbl input { font-size:1.1em; }
.basket_tbl a { font-size:1.2em; font-weight:bold; }
.basket_tbl p { margin:7px 0 0 0; padding: 0 0 0 0; }
.bsk_borders { border-right:1px #999999 dashed; border-top:1px #999999 dashed; }
.basket_tbl td { }
.basket_prd_price { color:#33cc66; font-size:1.2em; font-weight:bold; }
.basket_prd_nazv table { border:0px; }
.divider3 { text-align:left; color:#cccccc; height:1px; margin:5px 0px 5px 0px; padding:0 0 0 0; background-color:#cccccc; border-color:#cccccc; border:0px; width:75%; }
.basket_prd_nazv .product_attr_choose { font-size:1em; font-family:Verdana; background-color:#eeeeee;
    width:100%; max-width:150px; width:expression(document.body.clientWidth > 150? '150px': 'auto');
overflow:hidden; }

.basket_tbl_delivery table { border-width:0px; font-size:1.1em; }
.basket_tbl_address table { border-width:0px; font-size:1em; }
.basket_tbl_payment table { border-width:0px; font-size:1.1em; }
.basket_tbl_comments textarea { font-size:1.2em; font-family:Verdana; }
.basket_tbl_address p { margin:2px 0 0 0; padding:0 0 0 0; }
.tblrow {}
.tblrow_over { background-color:#eeeeee; }
.tblrow_selected { background-color:#ffcc66; }
.basket_steps { margin-top:20px; background-color:#cccccc; color:#000000; font-size:0.9em; }
.basket_steps_2 { margin-top:20px; color:#b0223b; font-size:0.9em; }
.address_book_1 { font-weight: bold; }
.address_book_2 {}
.address_book_3 { color:#666666; font-size:0.9em; }
a.addrbook_newlink  { margin-left:30px; font-size:1em; }
.cust_addr_book_lst { padding-left:5px;overflow:auto;position:relative; }
.error_style { border:1px #ff3366 dashed; }
#update_cart_fin_txt { margin-left:35px; text-align:left; padding: 7px 5px 7px 5px; background-color:#6689b1; color:#ffffff; font-size:0.7em; 
                       margin-bottom:10px; }
.update_cart_fin_button { margin-left:35px; text-align:left; }
#update_cart_fin { font-size:1em; }
#update_cart_fin_summ { color:#33cc66; font-size:1.1em; }
.divider4 { text-align:left; color:#6689b1; height:1px; margin:35px 0px 5px 35px; padding:0 0 0 0; background-color:#6689b1; border-color:#6689b1; border:0px; }
.divider5 { text-align:left; color:#b0223b; height:1px; margin:5px 0px 5px 0px;  padding:0 0 0 0; background-color:#b0223b; border-color:#b0223b; border:0px; }
.update_cart_fin_error { color:#6689b1; font-size:0.7em; margin:5px 0 0 35px; text-align:left; line-height:150%; }
.basket_form_quickie { overflow:auto; position:relative; font-weight:bold; }
.basket_form_quickie_txt { font-size:0.8em; color:#999999; margin-top:5px; }
.basket_form_quickie_top { font-size:0.7em; margin-top:50px; text-align:left; margin-left:45px; }

.compare_table table { font-size:0.75em; position:absolute; z-index:96; margin-left:35px; background-color:#ffffff; margin-right:10px; border-top:1px #cccccc solid;}
.compare_table td { border-bottom:1px #cccccc dashed; }
.compare_fields { font-weight:bold; font-size:0.9em; }
.compare_price { color:#33cc66; font-size:1.2em; font-weight:bold; }
.compare_shop_cat_nazv { background-color:#cccccc; font-size:0.8em; }
.compare_keywords { background-color:#cccccc; font-size:0.8em; }
.compare_attr_descr { background-color:#cccccc; font-size:0.8em; }
.compare_fields2 { font-size:0.85em; }
.compare_fields3 { font-weight:bold; font-size:0.85em; }
.compare_descr { background-color:#eeeeee; padding:5px 5px 1px 5px; width:535px; text-align:left; margin-top:10px; font-size:0.73em; line-height:140%; }
.compare_body_div {}

.show_more_lnk { font-size:0.9em; color:#333333; }
.show_more_2 { background-color:#eeeeee; padding:10px 0 10px 0; margin-left:35px; }
.show_more_1 { margin-top:30px; }

.blockquote { margin:0 0 0 0; padding:5px 5px 5px 5px; background-color:#eeeeee; }
.success_info { margin-left:45px; width:450px; font-size:0.75em; padding-top:0px; text-align:left; }
.order_page_title { font-size:0.8em; color:#999999;  }

.register_page {  width:535px; text-align:left; margin-top:10px; font-size:0.7em; line-height:140%; }
.register_page_tbls { background-color:#eeeeee; padding:5px 5px 5px 5px; }
.register_page_tbls table { font-size:0.9em; }

a.pickpointchoose { font-size:1em; font-weight:normal; }