a {
        color:#1757e9 !important;
}
.a_login_descr { font-family:Arial; color:#000000; font-size:0.8em;  }
.a_login_descr p { padding:10px 0 0 0; margin:0; font-size:0.8em; }
.adm_input { font-size:2.2em; font-family:Arial; }

.usertw { text-decoration: underline; }

.adm_msg_mine { margin-left:7px; color:#90440f; border-left:1px #af5312 solid; background-color:#fef9f5; text-align: left; padding:15px 15px 15px 15px; border-bottom:1px #999999 dashed; font-family:Courier; font-size:0.9em; }
.adm_msg_mine p { padding:0; margin:1px 0 0 0; }
.adm_msg_2me { margin-left:1px; border-left:7px #752766 solid; color:#752766; text-align: left; padding:15px 15px 15px 15px; border-bottom:1px #999999 dashed; font-family:Courier; font-size:0.9em; }
.adm_msg_2me p { padding:0; margin:1px 0 0 0; }
.adm_msg_usual { margin-left:7px; border-left:1px #999999 dashed; color:#752766; text-align: left; padding:15px 15px 15px 15px; border-bottom:1px #999999 dashed; font-family:Courier; font-size:0.9em; }
.adm_msg_usual p { padding:0; margin:1px 0 0 0; }
.adm_msg_from { color:#000000; font-size: 1.2em; font-weight:bold; }
.adm_msg_dat { font-size:0.7em; color:#999999; }
.adm_msg_txt_new { background-color: #fecc2b; }
.adm_msg_form p { padding:0; margin:5px 0 0 0;  }
.adm_msg_form { text-align:left; margin:15px 15px 5px 15px; }

#message_form2 {  border-left:1px #999999 dashed; margin-left:7px; background-color:#ffffff; color:#000000; font-size:0.9em; font-family: Courier; padding:5px 10px 10px 10px; }
#message_form2 a { color:#000000; }
#message_form1 { border-left:1px #999999 dashed; margin:0px 0px 15px 7px; }
.replyname { font-size:0.8em; font-family:Courier; }

.adm_username { margin:0px 15px 0px 15px; padding: 10px 15px 10px 15px;
    border-bottom-right-radius:17px; -moz-border-radius-bottomright:17px;
    border-bottom-left-radius:17px; -moz-border-radius-bottomleft:17px;
    border-top-right-radius:17px; -moz-border-radius-topright:17px;
    border-top-left-radius:17px; -moz-border-radius-topleft:17px;
    border:1px #666666 dashed;
    font-size:0.8em; font-family:Arial; color:#444444;
    text-align:center;
}

#adm_menu { margin-top:0px; margin-left:0px; padding-top:5px; padding-left:25px; padding-bottom:10px;
            padding-right:5px;
            font-size:0.8em; color:#444444; font-family:Arial; background-color: #ffffff; }
#adm_menu p { margin:7px 0 0 0; padding:0; }

.container2 { padding:9px 0px 0px 5px; }

.shop_row_sub3 { margin:25px 0px 5px 50px;
    padding:0px 5px 0px 15px;
    border-left:7px #1bd160 solid;
}
.shop_row_sub2 { margin:15px 0px 5px 50px;
    padding:0px 5px 0px 15px;
    border-left:4px #1bd160 solid;
}
.shop_row_sub1 { margin:15px 0px 5px 50px;
    padding:0px 5px 0px 15px;
    border-left:2px #1bd160 solid;
}
.shop_row_parent0 { margin:15px 0px 5px 0px;
    padding:0px 5px 0px 15px;
    border-left:10px #1bd160 solid;
}
.adm_shop_nazv { font-size:0.8em; }
.adm_shop_lnk { font-size:0.7em;}
.adm_shop_info { font-size:0.6em; color:#444444; }
.adm_shop_descr {
    border-bottom-right-radius:17px; -moz-border-radius-bottomright:17px;
    border-bottom-left-radius:17px; -moz-border-radius-bottomleft:17px;
    border-top-right-radius:17px; -moz-border-radius-topright:17px;
    border-top-left-radius:17px; -moz-border-radius-topleft:17px;
    border:1px #f1bf46 dashed;
    padding:5px 10px 5px 10px;
    font-size:0.8em;
    font-family:Arial;
    margin-top:7px;
}
.adm_status_number { background-color:#f1bf46; }
.adm_status_warn { background-color:#f7da95; }

.adm_shop_edit { margin:15px 0px 5px 0px;
    padding:0px 5px 0px 15px;
    border-left:10px #1bd160 solid;
    font-family:Arial;
    font-size:0.8em;
}
.adm_shop_edit_descr { font-size:0.8em; width:170px; padding-right:15px; border-bottom:1px #1bd160 dotted; }
.adm_shop_edit_zag { margin-top:15px; font-family:Verdana; font-size:1.1em;  color:#1bd160; }
.adm_shopedit_conf_number { font-family:Verdana; font-size:1.2em; font-weight:bold; color:#1bd160; }
.adm_shopedit_conf_key { font-size:0.9em; color:#1bd160; }
.tbl_zag { text-align:center; font-size:0.6em; font-family:Arial; color:#000000; font-weight:bold; }
.tbl_zag_del { text-align:center; color:#ea0651; font-size:0.6em; font-family:Arial; text-decoration: underline; }
.tbl_stat_td { border-bottom:1px #cccccc solid; padding:10px 5px 10px 5px;}
.tbl_chkbox_on {
    border-bottom-right-radius:17px; -moz-border-radius-bottomright:17px;
    border-bottom-left-radius:17px; -moz-border-radius-bottomleft:17px;
    border-top-right-radius:17px; -moz-border-radius-topright:17px;
    border-top-left-radius:17px; -moz-border-radius-topleft:17px;
    background-color:#f1bf46;
    padding:3px 3px 3px 3px;
}
.tbl_chkbox_off {
    border-bottom-right-radius:17px; -moz-border-radius-bottomright:17px;
    border-bottom-left-radius:17px; -moz-border-radius-bottomleft:17px;
    border-top-right-radius:17px; -moz-border-radius-topright:17px;
    border-top-left-radius:17px; -moz-border-radius-topleft:17px;
    background-color:#dedede;
    padding:3px 3px 3px 3px;
}

.adm_quick_lnks a { color:#904c0d !important; }

.adm_status_color {
    border-bottom-right-radius:17px; -moz-border-radius-bottomright:17px;
    border-bottom-left-radius:17px; -moz-border-radius-bottomleft:17px;
    border-top-right-radius:17px; -moz-border-radius-topright:17px;
    border-top-left-radius:17px; -moz-border-radius-topleft:17px;
    padding:3px 3px 3px 3px;
}

#edit1_loader { position:absolute; margin-top:20px; }


